.topnav {
  overflow: hidden;
  background-color: #0000;
}

.topnav a {
  float: left;
  display: block;
  color: var(--tds-color--black);
  text-align: center;
  padding: 8px 2px;
  margin-right: 30px;
  text-decoration: none;
  font-size: 15px;
  font-family: Gotham Medium, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

#myTopnav {
  position: fixed;
  display: block;
  width: 100%;
  top: 0;
  margin: 0;
  z-index: 9;
}
ul {
  margin: 0;
  list-style-type: none;
  overflow: hidden;
  padding: 0;
}
li {
  float: left;
  padding: 0px;
}

.topnav a.alogo {
  font-family: "Megrim";
  text-transform: none;
  font-size: 25px;
  font-weight: 900;
  padding-left: 10px;
  padding-top: 0px;
  margin-top: 3px;
}

.topnav .icon {
  display: none;
}

.topnav a:hover {
  color: #555;
}

.logo {
  margin-right: 24.5%;
}
.piano {
  margin-right: 30.5%;
}

.body1 {
  height: 100vh;
  width: 100%;
  background-image: url(../../../assets/img/violin.png);
  background-size: cover;
}

.title {
  font-size: 37px;
  font-family: Gotham Medium, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 500;
  color: #393c41;
  text-transform: uppercase;
  padding-left: 7%;
}

.title2 {
  font-size: 37px;
  font-family: Gotham Medium, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 500;
  color: #393c41;
  text-transform: uppercase;
  padding-left: 10%;
}

.subtitle {
  padding: 1%;
}

.container1 {
  margin: 5% 7% 7% 14%;
}

.container2 {
  margin: 4% 7% 37% 64%;
}

.container3 {
  margin: 5% 7% 7% 5%;
}

.buttons {
  // margin: 36% 2% 2% 27%;
  margin-top: 36%;
  display: flex;
  justify-content: center;
}

button {
  padding: 0.5%;
  margin: 1%;
  width: 26%;
  display: inline-block;
  text-transform: uppercase;
  border: none;
  outline: none;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Gotham Medium, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 500;
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

.inputbtn {
  background-color: #0009;
  color: #ffffff;
}

.inputbtn:focus {
  outline: none;
  box-shadow: none;
}

.infobtn {
  background-color: #0001;
}

.body2 {
  height: 100vh;
  width: 100%;
  background-image: url(../../../assets/img/trumpet.jpeg);
  background-size: cover;
  // background-position: center;
}

.body3 {
  height: 100vh;
  width: 100%;
  background-image: url(../../../assets/img/flute-2.png);
  background-size: cover;
}

@media all and (max-width: 400px) {
  button {
    display: block;
    margin: 1em auto;
    width: 80%;
  }
  .infobtn {
    padding: 10px;
  }
  .buttons {
    display: block;
    margin-top: 85%;
    margin-left: 0;
  }
  .body1 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .body2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .title {
    text-align: center;
    padding: 0;
  }
  .title2 {
    text-align: center;
    padding: 0;
  }
  .subtitle {
    text-align: center;
  }
  .container1 {
    margin: 0;
    width: 100%;
  }
  .container2 {
    margin: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) and (min-width: 400px) {
  button {
    display: inline-block;
    margin: 0.8em auto;
    width: 45%;
    padding: 5px;
  }
  .buttons {
    margin-top: 60%;
    display: flex;
    justify-content: center;
  }
  .body1 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .body2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .title {
    text-align: center;
    padding: 0;
  }
  .title2 {
    text-align: center;
    padding: 0;
  }
  .subtitle {
    text-align: center;
  }
  .container1 {
    margin: 0;
    width: 100%;
  }
  .container2 {
    margin: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 1100px) and (min-width: 800px) {
  button {
    display: inline-block;
    margin: 1em auto;
    width: 36%;
    padding: 7px;
  }
  .buttons {
    margin-top: 50%;
    display: flex;
    justify-content: center;
  }
  .body1 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .body2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .title {
    text-align: center;
    padding: 0;
  }
  .title2 {
    text-align: center;
    padding: 0;
  }
  .subtitle {
    text-align: center;
  }
  .container1 {
    margin: 0;
    width: 100%;
  }
  .container2 {
    margin: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 1100px) {
  button {
    display: inline-block;
    margin: 1em auto;
    width: 36%;
    padding: 8px;
  }
  .buttons {
    margin-top: 45%;
    display: flex;
    justify-content: center;
  }
  .body1 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .body2 {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  .title {
    text-align: center;
    padding: 0;
  }
  .title2 {
    text-align: center;
    padding: 0;
  }
  .subtitle {
    text-align: center;
  }
  .container1 {
    margin: 0;
    width: 100%;
  }
  .container2 {
    margin: 0;
    width: 100%;
  }
}

@media screen and (max-width: 1350px) {
  .topnav li:not(:first-child) {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 1350px) {
  .topnav.responsive {
    position: relative;
  }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive li {
    float: none;
    display: block;
    text-align: left;
  }
}

//

.land_container {
  width: 100%;
  height: 100vh;
  margin: 0px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #161616;
  animation: slide-out-container 4s cubic-bezier(0.97, 0.01, 0.36, 0.99) 2.8s;
  animation-fill-mode: forwards;
}

.text-wrapper {
  color: white;
  position: absolute;
}

.text {
  font-family: "Monument Extended";
  font-weight: lighter;
  font-size: 54px;
}

.text-1,
.text-3,
.text-4,
.text-8,
.text-9,
.text-11 {
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px white;
}

@keyframes blink {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }
  99% {
    opacity: 100%;
  }
  100% {
    opacity: 0;
  }
}

.text-1 {
  animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
  opacity: 0;
}

.text-2 {
  animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
  opacity: 0;
}

.text-3 {
  animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
  opacity: 0;
}

.text-4 {
  animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
  opacity: 0;
}

.text-5 {
  animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
  opacity: 0;
}

.text-6 {
  animation: blink 0.8s linear 0.4s, blink 0.8s linear 2.5s,
    slide-out 1s linear 3.2s;
  opacity: 0;
}

.text-7 {
  animation: blink 0.8s linear 0.5s, blink 0.8s linear 2.4s;
  opacity: 0;
}

.text-8 {
  animation: blink 0.8s linear 0.6s, blink 0.8s linear 2.3s;
  opacity: 0;
}

.text-9 {
  animation: blink 0.8s linear 0.7s, blink 0.8s linear 2.2s;
  opacity: 0;
}

.text-10 {
  animation: blink 0.8s linear 0.8s, blink 0.8s linear 2.1s;
  opacity: 0;
}

.text-11 {
  animation: blink 0.8s linear 0.9s, blink 0.8s linear 2s;
  opacity: 0;
}

@keyframes slide-out {
  0% {
    opacity: 0%;
  }
  1% {
    opacity: 100%;
  }

  19% {
    opacity: 100%;
  }
  20% {
    opacity: 0%;
  }

  39% {
    opacity: 0%;
  }
  40% {
    opacity: 100%;
  }

  59% {
    opacity: 100%;
  }
  60% {
    opacity: 0%;
  }

  79% {
    opacity: 0%;
  }
  80% {
    opacity: 100%;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes slide-out-container {
  0% {
    height: 100vh;
  }

  40% {
    height: 100vh;
  }

  100% {
    height: 0%;
  }
}

@media (max-width: 990px) {
  // .header {
  //   font-size: 24px;
  // }

  .text {
    font-size: 24px;
  }
}

// ARROW
.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 90;
  text-decoration: none;
  color: #393c41;
  cursor: default;
}
.arrow i {
  animation: animate 2s linear infinite;
  cursor: default;
}

// ARROW ANIMATION
@keyframes animate {
  0% {
    transform: translateY(0px);
  }
  10% {
    transform: translateY(-3px);
  }
  20% {
    transform: translateY(3px);
  }
  40% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(3px);
  }
  60% {
    transform: translateY(9px);
  }
  80% {
    transform: translateY(15px);
  }
  90% {
    transform: translateY(12px);
  }
  100% {
    transform: translateY(0px);
  }
}

//input file

.custom-input-file::-webkit-file-upload-button {
  visibility: hidden;
}
input[type="file"] {
  color: transparent;
  border: none;
  outline: none;
}

input[type="file"]:focus {
  color: transparent;
  border: none;
  outline: none;
}
.custom-input-file {
  width: 100%;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.custom-input-file::after {
  content: "Choose Song";
  margin: 0;
  padding: 0;
  display: block;
  top: 50%;
  -webkit-transform: translateY(-60%);
  -moz-transform: translateY(-60%);
  -ms-transform: translateY(-60%);
  transform: translateY(-60%);
  width: 100%;
  color: #fff;
  font-family: Gotham Medium, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.activated {
  padding-bottom: 4px !important;
  border-bottom-style: solid !important;
  border-bottom-color: var(--tds-color--black);
  border-bottom-width: 3px !important;
  width: fit-content !important;
}

#load-time {
  padding: 0 4px;
  font-size: 16px;
  font-weight: 600;
  color: #8b0000;
  display: flex;
  align-items: flex-start;
}
