<div class="land_container">
  <div class="text-wrapper">
    <div class="text-1 text">we create music</div>
    <div class="text-2 text">we create music</div>
    <div class="text-3 text">we create music</div>
    <div class="text-4 text">we create music</div>
    <div class="text-5 text">we create music</div>
    <div class="text-6 text">we create music</div>
    <div class="text-7 text">we create music</div>
    <div class="text-8 text">we create music</div>
    <div class="text-9 text">we create music</div>
    <div class="text-10 text">we create music</div>
    <div class="text-11 text">we create music</div>
  </div>
</div>
