<!-- <div>
  <ul class="topnav" id="myTopnav">
    <li class="logo">
      <a href="javascript:void(0);" class="alogo">AInstrument</a>
    </li>
    <li>
      <a class="violin activated" (click)="active($event)" href="#violin"
        >Violin</a
      >
    </li>
    <li>
      <a href="#guitar" class="guitar" (click)="active($event)">Guitar</a>
    </li>
    <li><a href="#piano" (click)="active($event)">Piano</a></li>
    <li class="flute"><a href="#flute">Flute</a></li>
    <li><a href="#about">About</a></li>
    <a
      href="javascript:void(0);"
      style="font-size: 15px"
      class="icon"
      (click)="myFunction()"
      >&#9776;</a
    >
  </ul>
</div> -->

<!-- USELESS COMPONENT - IGNORE -->
